body {
  text-align: center;
  background-color: black;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #dae656;
}

.container {
  display: block;
  width: 60%;
  margin: auto;

}

.btn {
  margin: 5px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius:10% 80% 10% 10% ;
}

.green {
  background-color: green;
  border-radius: 80% 10% 10% 10%;
}

.blue {
  background-color: blue;
  border-radius:10% 10% 80% 10% ;
}

.yellow {
  background-color: yellow;
  border-radius:10% 10% 10% 80% ;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: rgb(201, 191, 191);
}

@media (max-width: 945px) {
  .btn {
    margin: 2px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    
  }

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  5%;
    color: #FEF2BF;
  }


}

@media (max-width: 420px) {

  .container {
    display: block;
    width: 90%;
    margin: auto;
  
  }
  .btn {
    margin: 2px;
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 3px solid black;
    
  }

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  30%;
    margin-top: 30%;
    margin-bottom: 30%;
    color: #FEF2BF;
  }

}


@media (max-width: 320px) {

  .container {
    display: block;
    width: 90%;
    margin: auto;
  
  }
  .btn {
    margin: 2px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 3px solid black;
    
  }

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  30%;
    margin-top: 30%;
    margin-bottom: 30%;
    color: #FEF2BF;
  }

}


@media (max-width: 280px) {

  .container {
    display: block;
    width: 90%;
    margin: auto;
  
  }
  .btn {
    margin: 2px;
    display: inline-block;
    height: 75px;
    width: 75px;
    border: 2px solid black;
    
  }

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin:  30%;
    margin-top: 30%;
    margin-bottom: 30%;
    color: #FEF2BF;
  }

}
